.wrap {
  width: 100vw;

  border: 1px solid red;
  display: grid;
  /* 定义三列，宽度都是200px */
  grid-template-columns: 200px 200px 1fr 1fr;
  /* 定义一行，高度是150px */

  /* 其余没有设置的行高 */
  grid-auto-rows: 200px;
  grid-auto-columns: 50px;

  gap: 10px;
  grid-auto-flow: dense;

  /* 如果没有设置列/行的尺寸，那么尺寸就是 min-content */
}

.item:nth-child(odd) {
  background-color: darkslateblue;
}

.item:nth-child(even) {
  background-color: deepskyblue;
}

.item:nth-child(4) {
  background-color: pink;
  grid-column: 3 / -1;
}

main {
  background-color: red;
  width: 5000px;
  min-width: 0;
}
